<head>
    <title> Ansible Demo  April11th ABC</title>
</head>
<body>
    <h1>
        Welcome  to Demo GIT_ANT_JENKINS Integration
    </h1>
    <br/><br/><br/>
    <p>
        <img src="cloud.png" alt="Logo"/>
    </p>
</body>
</html>
