<head>
    <title> Ansible Demo on xyz 2nd Mar</title>
</head>
<body>
    <h1>
        Welcome  to Demo
    </h1>
    <br/><br/><br/>
    <p>
        <img src="cloud.png" alt="Logo"/>
    </p>
</body>
</html>
